body{
    margin: 0;
}

nav{
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: coral;
    color: white;
}

.links a{
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

.menu{
    display: none;
}


@media screen and (max-width:500px) {

    .links{
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: -300px;
        left: 0;
        background-color: coral;
        width: 100%;
        padding: 17px 0px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
}

    .links a{
        margin-top: 21px;
    }
    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       
}

    .menu span{
        width: 30px;
        height: 5px;
        background:white;
        margin-top: 4px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }

    
}